@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #09090b; /* Zinc 950 */
  color: #fafafa;
  color-scheme: dark;
}

body {
  margin: 0;
  min-height: 100vh;
  overscroll-behavior-y: none; /* Prevents bounce effect on mobile */
}

/* Hide Scrollbar but keep functionality */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Custom Animation Utility for "Past Mode" */
@keyframes stripe-move {
  0% { background-position: 0 0; }
  100% { background-position: 50px 50px; }
}
.animate-stripe {
  animation: stripe-move 1s linear infinite;
}